@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

body {
  font-family: 'Spoqa Han Sans', 'Malgun Gothic';
}


i, cite, em, var, address, dfn {
  font-style: normal;
}

article blockquote {
  font-style: normal;
}